#RootDiv {
	background: #fff;
}

#DartStatus {
	background: #fff;
	text-align: center;
    vertical-align: middle;
}

#MainView {
	width:640px;
	height:360px;
	overflow:hidden;
	margin-left: auto;
	margin-right: auto;
}

#webGLFrontBuffer {
	width: 100%;
	height: 100%;
}

#SpectreLog {
	width:100%;
	height:360px;
	overflow:auto;
	position:absolute;
	bottom:0;
	background:#aaa
}

#ResourceTable {
 	min-height: 100%;
    height: auto !important;
    width: auto;
	overflow: auto;
	position: relative;
}

#DemoPicker {
	display: -webkit-flex;
}

#StatusBar {
	display: -webkit-flex;
	
}

.DemoButton {
	padding: 5px;
	margin: 5px;
	border-style: solid;
	border-width: medium;
}

#ResourceManagerTable {
	display: -webkit-flex;
	-webkit-flex-direction: column;
	-webkit-justify-content: center;
}

#DeviceChildTable {
	display: -webkit-flex;
	-webkit-flex-direction: column;
	-webkit-justify-content: center;
}