#RootDiv {
	background: #fff;
	display: -webkit-flex;
	-webkit-flex-direction: column;
	-webkit-justify-content: space-around;
	
}

#DartStatus {
	background: #fff;
	text-align: center;
}

#MainView {
	background: #ccc;
	display: -webkit-flex;
	min-width: 853px;
	width: 853px;
	height: 480px;
	min-height: 480px;
	-webkit-flex: none;
	-webkit-flex-direction: row;
	-webkit-justify-content: space-around;
	-webkit-align-self: center;
}


#SpectreLog {
	background:#aaa
}

#ResourceTable {
 	min-height: 100%;
}

#DemoPicker {
	display: -webkit-flex;
}

#StatusBar {
	display: -webkit-flex;
}

.DemoButton {
	padding: 5px;
	margin: 5px;
	border-style: solid;
	border-width: medium;
}

#ResourceManagerTable {
	display: -webkit-flex;
	-webkit-flex-direction: column;
	-webkit-flex: auto;
	overflow:scroll;
}

.ResourceRow {
display: -webkit-flex;
	-webkit-flex-direction: row;
	-webkit-flex: auto;
}

#DeviceChildTable {
	display: -webkit-flex;
	-webkit-flex-direction: column;
	-webkit-flex: auto;
	overflow:scroll;
}