{
  "name": "Bob",
  "textures": [
    {
      "diffuse": "bodyDiffuse",
      "normal": "bodySpecular",
      "specular": "bodySpecular"
    },
    {
      "diffuse": "faceDiffuse",
      "normal": "faceNormal",
      "specular": "faceSpecular"
    },
    {
      "diffuse": "helmetDiffuse",
      "normal": "helmetSpecular",
      "specular": "helmetSpecular"
    },
    {
      "diffuse": "grillDiffuse",
      "normal": "grillSpecular",
      "specular": "grillSpecular"
    },
    {
      "diffuse": "roundDiffuse",
      "normal": "roundSpecular",
      "specular": "roundSpecular"
    },
    {
      "diffuse": "bodyDiffuse",
      "normal": "bodySpecular",
      "specular": "bodySpecular"
    }
  ]
}
