#RootDiv {
	background: #fff;
	display: -webkit-flex;
	-webkit-flex-direction: column;
	-webkit-justify-content: space-around;
	
}

#DartStatus {
	background: #fff;
	text-align: center;
}

#TimelineView {
	background: #ccc;
}

.TimelineLabel {
	background: #fff;
}

.TimelineRanges {
	background: #fff;
}

.TimelineRange {
	background: #0f0;
	position: relative;
	float: left;
}


#SpectreLog {
	background:#aaa
}

#ResourceTable {
 	min-height: 100%;
}

#CommandBar {
	display: -webkit-flex;
}

#StatusBar {
	display: -webkit-flex;
}

.ButtonOn {
	background: #333;
}

.ButtonOff {
	.background: #fff;
}

.Button {
	padding: 5px;
	margin: 5px;
	border-style: solid;
	border-width: medium;
}